figure {
    display: grid;
    grid-template: 1fr / 1fr "stack";
  }
  
  figure > * {
    grid-area: stack;
  }
  
  figure > img {
    aspect-ratio: 16 / 9;
    padding: auto;
    display: block;
    max-width: 100%;
    object-fit: cover;
  }
  
  figure > figcaption {
    opacity: 0;
    visibility: hidden;
    transition: 
      opacity 400ms, visibility 0ms 400ms;
  }
  
  figure:hover > figcaption {
    opacity: 1;
    visibility: visible;
    transition: opacity 400ms;
  }

  .img-caption {
  font-family: Tahoma;
  font-size: 35px;
  color: rgba(125, 250, 125, 1);
}